
<div class="container">
  <form [formGroup]= "form">
    <!-- Email input -->
    <div class="form-outline  mt-4 mb-2">
      <label class="form-label" for="form2Example1">Username</label>
      <input type="email" id="form2Example1" class="form-control w-50" formControlName="username"/>
      <div *ngIf="form.get('username')?.invalid && (form.get('username')?.touched)" class="text-danger"></div>
    </div>
    <!-- Password input -->
    <div class="form-outline  mt-4  mb-2">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control w-50" formControlName="password" />
      <div *ngIf="form.get('password')?.invalid && (form.get('password')?.touched)" class="text-danger"></div>

    </div>

    <!-- Submit button -->
    <div class="d-flex align-items-center gap-3 mt-4">
      <a  type="button" (click)="login()" class="btn btn-primary mb-4">LogIn</a>
      <a  type="button" href="register"  class = "btn btn-primary mb-4 ml-3">Register</a>
    </div>
  </form>

</div>





<!-- <div class="container">


  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="form">
      <div class="user-box">
        <input type="text" name="" formControlName="username">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" formControlName="password" name="">
        <label>Password</label>
      </div>
      <a type="submit" href="#" (click)="login()" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <a type="Submit" href="#" (click)="login()">
        <span></span>
        <span></span>
        Create an Account
      </a>
    </form>
  </div>

</div> -->

