

<form [formGroup]= "form">
  <!-- Email input -->
  <div class="form-outline container mt-4 mb-4">
    <label class="form-label" for="form2Example1">Email address</label>
    <input type="email" id="form2Example1" class="form-control" formControlName="username"/>
  </div>

  <!-- Password input -->
  <div class="form-outline container mt-4  mb-4">
    <label class="form-label" for="form2Example2">Password</label>
    <input type="password" id="form2Example2" class="form-control" formControlName="password" />
  </div>

  <!-- Submit button -->
  <div class="container logreg">
    <a class ="login" type="button" href ="#" (click)="login()" class="btn btn-primary mb-4">LogIn</a>
    <a class = "register" type="button" href="register" (click)="register()" class = "btn btn-primary mb-4 ml-3">Register</a>
  </div>
</form>





<!-- <div class="container">


  <div class="login-box">
    <h2>Login</h2>
    <form [formGroup]="form">
      <div class="user-box">
        <input type="text" name="" formControlName="username">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" formControlName="password" name="">
        <label>Password</label>
      </div>
      <a type="submit" href="#" (click)="login()" >
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
      <a type="Submit" href="#" (click)="login()">
        <span></span>
        <span></span>
        Create an Account
      </a>
    </form>
  </div>

</div> -->

